.music-table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 5px;
	background: #1a1a1a;
	color: #ddd;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.music-table th {
	font-size: 1.2em;
	font-weight: 700;
}

.music-table th,
.music-table td {
	padding: 2px 4px;
	border: 2px solid #333;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
}

.tag {
	font-size: 1.15em;
	padding: 4px 5px;
	margin: 3px 4px;
	display: inline-block;
	border-radius: 4px;
	white-space: normal;
	text-align: center;
	word-break: keep-all;
	color: #fff;
}

.column-label {
	display: inline-block;
	white-space: normal; /* allow wrapping */
	overflow-wrap: break-word; /* break only at word boundaries */
	text-align: center;
	line-height: 1.2;
	word-break: keep-all; /* don't break within words */
}

/* Wrapper around the table */
.table-wrapper {
	width: 100%;
	max-width: 100%;
	overflow-x: auto; /* Optional, for safety */
	padding: 0 16px;
	margin: 0;
	box-sizing: border-box;
}
