body {
    font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  }


  #sidebar-wrapper {
    position: fixed;
    top: 10%;
    bottom: 10%;
    width: 350px;
    background: #111;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
    transform: translateX(-200%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    border-radius: 0 12px 12px 0;
    border: 2px solid white;
  }
  
  #sidebar-wrapper.open {
    transform: translateX(0);
  }